package templates 

templ Layout(title string) {
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/assets/style.css"/>
        <title>{ title }</title>
    </head>
    <body>
        { children... }
    </body>
    </html>
}